
<h1>Bienvenido {{usuario.first_name}}!</h1>
<h1> Tus datos: {{usuario.last_name}},  {{usuario.email}},  {{usuario.age}}!</h1>

<form action="/api/session/logout" method="get">
        <button type="submit">Cerrar session</button>
</form>

<h3>Listado de Productos</h3>


<ul>
  {{#each productos}}
    <li>
      <form action="/carrito/{{this.id}}" method="post">
        {{title}} - {{description}}
        <button type="submit" data-productid="{{id}}">Agregar al carrito</button>
      </form>

      <form action="/productos/{{this.id}}" method="GET">
        <button type="submit">Detalles producto</button>
      </form>
    </li>
  {{/each}}

</ul>

{{#if hasPrevPage}}
  <a href="?page={{prevPage}}">Página anterior</a>
{{/if}}
&nbsp;&nbsp;&nbsp;&nbsp;
{{#if hasNextPage}}
  <a href="?page={{nextPage}}">Página siguiente</a>
{{/if}}
 
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

