
<h3>Listado de Productos</h3>


<ul>
  {{#each productos}}
    <li>
      <form action="/carrito/{{this.id}}" method="post">
        {{title}} - {{description}}
        <button type="submit" data-productid="{{id}}">Agregar al carrito</button>
      </form>

      <form action="/productos/{{this.id}}" method="GET">
        <button type="submit">Detalles producto</button>
      </form>
    </li>
  {{/each}}

</ul>

 
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

